---
import "../css/style.css";
const {data} = Astro.props;
---

<section class="dropdownmenu">
    <details>
        <summary><div class="flex_drop"><h4>{data.title}</h4><img src={data.image} alt={data.alt_tag}></div></summary>
        <p>{data.text}</p>
    </details>
</section>

<style>

.dropdownmenu{
    display: flex;
    justify-content: center;
}
.flex_drop{
    display: flex;
    justify-content: space-between
}

details summary {
  width: 375px;
  background-color: var( --quaternary-color);
  border: none;
  cursor: pointer;
  padding: 10px 25px 0px 25px;
  color: black;
}

details p {
background-color: var(--quaternary-color);
  width: 375px;
  margin: 0;
  padding: 0px 25px 15px 25px;
  color: black;
}

@media screen and (min-width: 1000px) {
details summary {
  width: 700px;
  
}

details p {
  width: 700px;
}

}

</style>
