---
import "../css/style.css";
const {data} = Astro.props;
---

<section class="dropdownmenu">
    <details>
        <summary><div class="flex_drop"><h3>{data.title}</h3><img src={data.image} alt={data.alt_tag}></div></summary>
        <p>{data.text}</p>
    </details>
</section>

<style>

.dropdownmenu{
    display: flex;
    justify-content: center;
}
.flex_drop{
    display: flex;
    justify-content: space-between
}

details summary {
  width: 500px;
  background-color: var(--additional-color2);
  border: none;
  cursor: pointer;
  padding: 10px 25px 0px 25px;
  color: black;
}

details p {
    background-color: var(--additional-color2);
  width: 500px;
  margin: 0;
  padding: 0px 25px 15px 25px;
  color: black;
}

</style>
